In [3]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
np.random.seed(1)

In [7]:
# load data
df = pd.read_excel('../BreastTissue_data.xls')

In [8]:
df.head()

,Case #,Class,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P
0,1,car,524.794072,0.187448,0.032114,228.800228,6843.598481,29.910803,60.204880,220.737212,556.828334
1,2,car,330.000000,0.226893,0.265290,121.154201,3163.239472,26.109202,69.717361,99.084964,400.225776
2,3,car,551.879287,0.232478,0.063530,264.804935,11888.391827,44.894903,77.793297,253.785300,656.769449
3,4,car,380.000000,0.240855,0.286234,137.640111,5402.171180,39.248524,88.758446,105.198568,493.701814
4,5,car,362.831266,0.200713,0.244346,124.912559,3290.462446,26.342127,69.389389,103.866552,424.796503

In [10]:
df = np.array(df)

In [11]:
X = df[:,2:] # not take the 1rst and 2nd columns
X.shape

(106, 9)

In [12]:
y = df[:,1]

In [13]:
np.unique(y,return_counts=True)

(array(['adi', 'car', 'con', 'fad', 'gla', 'mas'], dtype=object),
 array([22, 21, 14, 15, 16, 18]))

In [14]:
y.shape

(106,)

In [15]:
# merge 'fad' (Fibro-adenoma), 'glas' (Glandular) and 'mas' (Mastopathy)
l,n = X.shape
ynew = np.ones(l)

t2 = y =='adi'
ynew[t2] = 2

t3 = y =='car'
ynew[t3] = 3

t4 = y =='con'
ynew[t4] = 4

In [17]:
np.unique(ynew,return_counts=True)

(array([1., 2., 3., 4.]), array([49, 22, 21, 14]))

In [18]:
y = ynew